<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Messaging Page</title>
</head>

<body>
    <div>Create a message!</div>
    <form action="{{url_for('form')}}" method="post">
        <div>
            <label for="to">Name:</label>
            <input id="to" name="_to" type="text" value='Matt or Rachel' />

        </div>
        <div>
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>
        </div>
        <div class="button">
            <button type="submit">Send your message</button>
        </div>
    </form>
</body>

</html>
