<!DOCTYPE html>
<html lang="en">
<!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_analytics&stacked=h -->

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
        height: auto;
      }
    }
  </style>
</head>

<body>
  <br>
  <div class="col-md-9 justify-content-center align-items-center container">
    <!-- Message form  -->
    <form action="{{url_for('messageform')}}" method="post">
      <h3>Create a message!</h3>
      <div class="form-group">
        <label for="message">Message</label>
        <input maxlength="32" type="text" class="form-control" id="message" name="message" placeholder="I love you!" required>
        <!-- <textarea maxlength="240" class="form-control" id="message" name="message" placeholder="I love you!" required></textarea> -->
      </div>

      <div class="form-group col-md-4">
        <label for="recipient">To?</label>
        <select id="recipient" class="form-control" name="recipient" required>
          <option selected>Choose...</option>
          {% for person in people %}
          <option value="{{person}}">{{person}}</option>
          {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
    <br>

    <!-- add a user -->
    <form action="{{url_for('userform')}}" method="post">
      <input type="hidden" name="form_type" value="add">
      <h3>Add a user</h3>
      <div class="form-group">
        <label for="user">User</label>
        <input maxlength="32" type="text" class="form-control" name="user" placeholder="Matt" required>
      </div>
      <button type="submit" class="btn btn-primary">Add User</button>
    </form>
    <br>

    <!-- del user-->
    <form action="{{url_for('userform')}}" method="post">
      <input type="hidden" name="form_type" value="del">
      <h3>Delete a user</h3>
      <div class="form-group col-md-4">
        <label for="user">User to delete</label>
        <select id="user" class="form-control" name="user" required>
          <option selected>Choose...</option>
          {% for person in people %}
          <option value="{{person}}">{{person}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Delete User</button>
    </form>
  </div>
</body>

</html>