<!DOCTYPE html>
<html lang="en">
<!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_analytics&stacked=h -->

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='farbtastic.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/farbtastic.css') }}" type="text/css" />
  <style>
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {
        height: auto;
      }
    }

    .grid {
      margin: 1em auto;
      border-collapse: collapse
    }

    .grid td {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 1px solid #ccc;
      text-align: center;
    }
  </style>
</head>

<body>
  <br>
  <div class="col-md-9 justify-content-center align-items-center container">
    <!-- Message form  -->
    <form action="{{url_for('messageform')}}" method="post">
      <h3>Create a message!</h3>
      <div class="form-group">
        <label for="message">Message</label>
        <input maxlength="32" type="text" class="form-control" id="message" name="message" placeholder="I love you!" required>
        <!-- <textarea maxlength="240" class="form-control" id="message" name="message" placeholder="I love you!" required></textarea> -->
      </div>

      <div class="form-group col-md-4">
        <label for="recipient">To?</label>
        <select id="recipient" class="form-control" name="recipient" required>
          <option disabled="disabled" selected>Choose...</option>
          {% for person in people %}
          <option value="{{person}}">{{person}}</option>
          {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
    <br>

    <!-- drawing -->
    <h3>Create a Drawing!</h3>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-4">
            <label for="recipient">To?</label>
            <select id="recipient" class="form-control" name="recipient" required>
              <option disabled="disabled" selected>Choose...</option>
              {% for person in people %}
              <option value="{{person}}">{{person}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table id="display" class="grid"></table>
          </div>
          <div class="col-md-6">
            <form><input type="text" id="color" name="color" value="#123456" /></form>
            <br>
            <div id="colorpicker"></div>
          </div>
        </div>
        <div class="row">
          <!-- <input type="hidden" name="form_type" value="add"> -->
          <button type="submit" id="submit_button" class="btn btn-primary">Send Drawing</button>
        </div>
      </form>
    </div>
    <br>
    <!-- add a user -->
    <form action="{{url_for('userform')}}" method="post">
      <input type="hidden" name="form_type" value="add">
      <h3>Add a user</h3>
      <div class="form-group">
        <label for="user">User</label>
        <input maxlength="32" type="text" class="form-control" name="user" placeholder="Matt" required>
      </div>
      <button type="submit" class="btn btn-primary">Add User</button>
    </form>
    <br>

    <!-- del user-->
    <form action="{{url_for('userform')}}" method="post">
      <input type="hidden" name="form_type" value="del">
      <h3>Delete a user</h3>
      <div class="form-group col-md-4">
        <label for="user">User to delete</label>
        <select id="user" class="form-control" name="user" required>
          <option disabled="disabled" selected>Choose...</option>
          {% for person in people %}
          <option value="{{person}}">{{person}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Delete User</button>
    </form>
    <br>

    <!--  list messages-->
    <h3>Messages</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>User</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Message</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            {% for message in messages %}
            <p>{{message['recipient']}}</p>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            {% for message in messages %}
            <p>{{message['message']}}</p>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>



  </div>

  <script type="text/javascript">
    function makeGrid() {
      let rows = 8;
      let cols = 8;
      let i = 0;
      for (let row = 0; row < rows; row++) {
        let tr = $("#display").append(document.createElement('tr'));
        for (let col = 0; col < cols; col++) {
          let cell = document.createElement('td');
          cell.id = "cell" + i++;
          cell.style.background = "#ffffff";

          cell.addEventListener('click', function() {
            let color = $("#color").val();
            console.log("you clicked " + cell.id + " " + color);
            cell.style.background = color;
          });
          tr.append(cell);
        }
      }
    }

    function sendGrid() {
      let rows = 8;
      let cols = 8;
      let i = 0;
      let matrix = [];
      for (let row = 0; row < rows; row++) {
        let my_row = [];
        for (let col = 0; col < cols; col++) {
          let cell = "#cell" + i;
          // console.log(cell);
          my_row.push($(cell).css('background-color'));
          i++;
        }
        matrix.push(my_row);
      }
      console.log(matrix);
      // return matrix;
      var matrixData = JSON.stringify(matrix);

      $.ajax({
        type: "POST",
        url: "{{url_for('matrixapi')}}",
        data: matrixData,
        success: function() {},
        dataType: "json",
        contentType: "application/json"
      });
    }

    $(document).ready(function() {
      $('#colorpicker').farbtastic('#color');
      makeGrid();
      $('#submit_button').click(sendGrid);
    });
  </script>
</body>

</html>